<task>
次に示すhtmlファイルから以下の項目をマークダウン形式でまとめてください。
- 更新履歴
- 内容
- データの基準年月日
- 関連する法律
- 原典資料
- 作成方法
- このデータの使用許諾条件
- 座標系
- データの形状
- 地物情報
- 主な品質情報
- データフォーマット(符号化)
- 国土情報ウェブマッピングシステムへの登録
- 地図上でデータ閲覧できるサイト
- 識別子
- その他の情報

上記の項目に加え、属性情報における属性名、説明、属性の型をまとめてください。
属性情報は階層構造になっていることを考慮して表形式にはせず階層を持った箇条書き。
ページ内の言葉はそのまま使ってください。リンクも含めてください。

生成後、マークダウンの構文に影響する部分をエスケープしてください。
</task>